<!DOCTYPE html>
<html>
	<head>
		<title>react-ssr-01</title>
	</head>
	<body>
		<div>users url <a href="/users">users</a></div>
		<div>admins url <a href="/admins">admins</a></div>
		<div>auth url <a href="/auth/google">google</a></div>
	</body>
</html>

